<div class="grid grid-cols-1 gap-6 sm:grid-cols-3">
  <h1 class="font-bold text-4xl text-center mb-5">About</h1>
  <%= image_tag 'banner.jpg' %>
  <div class="col-span-2">
    <p class="mb-3 text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
      eleifend, felis nec eleifend vehicula, nisl elit
      consectetur sapien, at iaculis tortor metus ac sapien. Cras vel nisi sem. Proin lacinia eget lectus sed vehicula.
      Quisque eget ligula vitae nulla tristique aliquam. Nulla facilisi. Phasellus scelerisque sem id efficitur tempor.
      Morbi id ante at elit rhoncus tincidunt. Fusce at mollis risus, sed consectetur libero. Sed non odio non justo
      venenatis accumsan. Cras quis nisi non orci fermentum malesuada. Sed rhoncus libero in eros ultrices, vel tempus
      libero vestibulum.</p>
    <p class="mb-3 text-gray-500 dark:text-gray-400">Quisque sagittis, lacus eu suscipit suscipit, sem erat hendrerit
      lacus, eget ullamcorper sem nisi id arcu.
      Aliquam
      ultrices id quam a aliquet. Nullam id velit ut dui venenatis faucibus ut a metus. Nam convallis erat eget enim
      feugiat, vel vestibulum metus tempor. Nam congue eu mauris sit amet efficitur. Donec aliquet mi vitae risus congue
      tincidunt. Donec auctor tortor nec sem sagittis dignissim. Morbi vitae purus consectetur, vestibulum justo eget,
      dignissim massa. In hac habitasse platea dictumst. Mauris ut luctus enim. Curabitur fringilla tristique neque, sed
      laoreet odio dapibus eu. Ut nec lacus arcu. Nullam fermentum sem quis magna pharetra luctus. Aliquam nec efficitur
      mauris. Fusce et elit eros.</p>

    <p class="mb-3 text-gray-500 dark:text-gray-400">Vestibulum tincidunt quam eu tempor vehicula. Mauris id ultrices
      enim, sit amet luctus mi. Sed id velit id lectus
      gravida convallis nec ac urna. Ut euismod sapien risus, in rutrum nunc tincidunt sed. Nam bibendum, lectus nec
      rutrum malesuada, odio eros consequat nisi, at varius arcu sem ut nulla. Nulla facilisi. Aliquam erat volutpat.
      Sed
      sit amet purus mi. Nam at arcu vel erat ultrices convallis. Fusce tincidunt libero in tincidunt fermentum. Donec
      nec
      erat lectus. Nullam sit amet erat lacus. Integer malesuada nisi non mauris feugiat, id facilisis ipsum gravida.
      Fusce nec urna purus.</p>

  </div>
  <p class="mb-3 text-gray-500 dark:text-gray-400">Track work across the enterprise through an open, collaborative
    platform. Link issues across Jira and ingest data from other software development tools, so your IT support and
    operations teams have richer contextual information to rapidly respond to requests, incidents, and changes.</p>
</div>
