/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "font-awesome";

@import 'pagy.tailwind';

:root {
  --light-bg-color: white;
  --light-text-color: white;
  --dark-bg-color: black;
  --dark-text-color: black;
}


@media (prefers-color-scheme: dark) {
  body {
    background: var(--dark-bg-color);
    color: var(--light-text-color);

  }

  body.light {

      background: var(--light-bg-color);
      color: var(--dark-text-color);

  }
  nav {
    background: var(--dark-bg-color);
    color: var(--light-text-color);

  }

  nav.light {

    background: var(--light-bg-color);
    color: var(--dark-text-color);

  }
}



@media (prefers-color-scheme: light) {
  body {
    background: var(--light-bg-color);
    color: var(--dark-text-color);

  }

  body.light {

    background: var(--dark-bg-color);
    color: var(--light-text-color);

  }

  nav {
    background: var(--light-bg-color);
    color: var(--dark-text-color);

  }

  nav.light {

    background: var(--dark-bg-color);
    color: var(--light-text-color);

  }
}

.background-image {
  background-image: url('./banner2.jpg');
  background-size: cover; /* or contain, depending on how you want the image to fit */
  background-position: center center; /* or any other desired position */
}


@media only screen and (min-width: 768px){
  .parent:hover .child {
    opacity:1;
    height:auto;
    overflow:none;
    transform: translateY(0);
  }
  .child {
    opacity:0;
    height:0;
    overflow:hidden;
    transform: translateY(-10%);
  }
}@import 'actiontext.css';